<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Health Advice Group - {% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="description" content="Elevate your well-being with Health Advice Group, your go-to destination for expert health insights. Explore a wealth of information, expert advice, and resources to optimize your health journey. Your guide to a healthier, happier life starts here. Uncover the keys to well-being with Health Advice Group.">
        <meta name="author" content="Emily Evers">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            {% block header %}{% endblock header %}
        </header>
        
        <main>
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>