<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ title }} - Health Advice Group</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">
        <meta charset="utf-8">
        <meta name="description" content="{{ description }}">
        <meta name="author" content="Emily Evers">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="glass">
            <section class="header-container">
                <section class="info">
                    <a href="{{ url_for('pages.index') }}"><h1>Health Advice Group</h1></a>
                </section>

                <nav>
                    <a href="{{ url_for('pages.login') }}">Login</a>
                </nav>
            </section>


            {% block header %}{% endblock header %}
        </header>
        
        <main class="glass">
            {% block content required %}{% endblock content %}
        </main>

        <footer class="glass-dark">
            <section class="footer-container">
            </section>
        </footer>
    </body>
</html>