{% extends 'template.html.j2' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h1>Home</h1>
{% endblock %}

{% block content %}
    <h2>Home</h2>
    <p>Welcome to the home page.</p>
{% endblock %}